---
import "../post/_style.css"

import Layout from '$components/client/layouts/Layout.astro';
import Visits from '$components/client/content/Visits.astro'

const needs = { auth: false, roles: [] }
const back = { enabled: true, path: "content/modules/" }

const countId = "content-visits"
---

<Layout
  description="Module content"
  needs={needs}
  back={back}
  page=""
  title="Module: tab">

  <div slot="actions">
    <Visits countId={countId} />
  </div>

  <!-- actions -->
    <!-- visit -->
    <!-- likes -->
  <!-- actions -->

  <img
    id="post-hero"
    class="d-block img-fluid mx-auto border border-2 rounded shadow-sm"
    width="960"
    height="540"
    loading="lazy" />

  <wl-database target="#article">
    <article id="article"></article>
  </wl-database>

  <script>
    import { template } from '../post/_template.ts';
    import { type WlDatabase } from "$lib/client/webslab/database.ts";

    const url = new URL(location.href);
    const slug = url.searchParams.get("slug") ||
      url.pathname.split("/").slice(-2)[0];

    const wlDatabase = document.querySelector("wl-database") as WlDatabase;
    wlDatabase.query = `SELECT * FROM ONLY module WHERE slug = '${slug}'`;
    wlDatabase.template = template;
  </script>
</Layout>

<script src="../post/_index.ts"></script>

<script>
import { visit } from "$lib/client/utils/index.ts"; visit();
</script>
