---
import Layout from '$components/client/layouts/Layout.astro';
import TestDefer from '$components/server/TestDefer.astro';
---

<Layout
  title="About"
  page="How we are?"
  back={{enabled: false}}>

  <TestDefer server:defer>
    <h2 class="text-center" slot="fallback">Hola mundo</h2>
  </TestDefer>
</Layout>
