---
import Layout from '$components/layouts/Layout.astro';
import TestDefer from '$components/TestDefer.astro';

const text = "Hello World!";
---

<Layout
  title="About"
  page="How we are?"
  back={{enabled: false}}>

  <TestDefer
    text={text}
    server:defer>
    <h2 class="text-center" slot="fallback">{text}</h2>
  </TestDefer>
</Layout>
