---
import Layout from '$components/client/layouts/Layout.astro'

import TestDb from        '$components/client/tests/TestDb.astro'
import TestApi from       '$components/client/tests/TestApi.astro'
import TestLit from       '$components/client/tests/TestLit.astro'
import TestUser from      '$components/client/tests/TestUser.astro'
import TestMail from      '$components/client/tests/TestMail.astro'
import TestDefer from     '$components/server/TestDefer.astro';
import TestAction from    '$components/client/tests/TestAction.astro'
import TestLogger from    '$components/client/tests/TestLogger.astro'
import TestNotify from    '$components/client/tests/TestNotify.astro'
import TestIsLand from    '$components/client/tests/TestIsLand.astro'
import TestInstall from   '$components/client/tests/TestInstall.astro'
import TestListPost from  '$components/client/tests/TestListPost.astro'

const textDefer = "Hello World!";
const needs = { auth: false, roles: [] }
---

<Layout
  needs={needs}
  title="Tests"
  page="Welcome to Tests Page"
  back={{enabled: false}}>

  <TestDefer
    text={textDefer}
    server:defer>
    <h2 class="text-center" slot="fallback">{textDefer}</h2>
  </TestDefer>

  <div class="text-center mb-2">
    <a class="btn btn-primary" href="content/blog/">blog</a>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 border-end">
      <TestApi />
      <TestAction />
      <TestLogger />
      <TestDb />
      <TestUser />
      <TestMail />
      <TestNotify />
      <TestInstall />
    </div>

    <div class="col-12 col-md-6">
      <TestIsLand text="Test:" />
      <TestLit />
    </div>
  </div>

  <hr class="w-75 mx-auto" />

  <div style="max-width: 800px; height: 50vh; margin: auto;">
    <is-land on:interaction="mouseenter">
      <h2 class="text-center">List Post: Test</h2>

      <template data-island>
        <div style="overflow: auto;">
          <TestListPost />
        </div>
      </template>
    </is-land>
  </div>
</Layout>
