---
await new Promise((resolve) => {
  setTimeout(() => {
    console.log(Astro.request.headers.get("referer"))
    resolve('Hello world');
  }, 1000);
});

const { text } = Astro.props;

export const prerender = false;
---

<h2 class="text-center text-info">{text}</h2>
