$primary: #613583;
$font-size-base: 1.25rem;

@import "bootstrap/scss/bootstrap";

@view-transition {
  navigation: auto;
}

@media (prefers-reduced-motion: reduce) {
  @view-transition {
    navigation: none;
  }

  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation-duration: 0s;
  }
}

:not(:defined) {
  visibility: hidden;
}

h1 {
  color: var(--bs-primary);
}

wl-security {
  --wl-security-border-pending: var(--bs-indigo);
  --wl-security-border-complete: var(--bs-primary);
  --wl-security-border-error: crimson;
}