$primary: #613583;
$font-size-base: 1.25rem;

@import "bootstrap/scss/bootstrap";
@import "./editor-colors.scss";

@view-transition {
  navigation: auto;
}

@media (prefers-reduced-motion: reduce) {
  @view-transition {
    navigation: none;
  }

  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation-duration: 0s;
  }
}

:not(:defined) {
  visibility: hidden;
}

::selection {
  background-color: rgba(var(--bs-primary-rgb), 0.5);
  color: white;
}

h1 {
  color: var(--bs-primary);
}

wl-security {
  --wl-security-border-complete: var(--bs-primary);
  --wl-security-border-offline: var(--bs-orange);
  --wl-security-border-pending: var(--bs-indigo);
  --wl-security-border-error: darkmagenta;
}

wl-database {
  --wl-database-border-complete: transparent;
  --wl-database-border-offline: var(--bs-orange);
  --wl-database-border-pending: var(--bs-indigo);
  --wl-database-border-error: darkmagenta;
}
