---
import Layout from '$components/client/layouts/Layout.astro'
import Create from '$components/client/admin/member/Create.astro'
import Table from '$components/client/admin/member/Table.astro'

const back = { enabled: true, path: "auth/admin/" }
const needs = { auth: true, roles: ["admin", "thera"] }
---

<script src="$lib/client/webslab/database.ts"></script>

<Layout
  description="List of members to manage"
  page="member manager"
  title="Member Manager"
  needs={needs}
  back={back}>

  <div slot="actions">
    <Create />
  </div>

  <div class="px-xl-2">
    <Table />
  </div>

  <!-- NOTE: Can't be at the component -->
  <script>
    import { templateTable } from "$components/client/admin/member/table.ts"
    import { type WlDatabase } from "$lib/client/webslab/database.ts"

    const wlDatabase = document.querySelector("wl-database") as WlDatabase;
    wlDatabase.template = templateTable;
  </script>
</Layout>
